
<header>
  <div class="profile">
    <img src="/assets/arrow-right.png" class="arrow">
    <img src="/assets/profile.jpg" class="picture">
  </div>
</header>

<div class="sidebar">
  <div class="profile">
    <img src="/assets/arrow-right.png" class="arrow">
    <img src="/assets/profile.jpg" class="picture">
  </div>
  <img class="logo" src="/assets/logo.png">
</div>

<router-outlet></router-outlet>

<footer>
  <img class="logo" src="/assets/logo.png">
  <div class="links">
    <span>Nosotras</span> •
    <span>Facebook</span> •
    <span>Twitter</span> •
    <span>Instagram</span> •
    <span>Bit Music 2019 ®</span>
  </div>
</footer>
